<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="aside">
        <div class="headerAside">
            <a>
                <img src="img/avatar.jpg" width="40px" class="imgAvatar">
            </a>
            <a class="textInfo">Danh sách người dùng</a>
        </div>

        <div class="bodyAside">
            <div>
                <a href="my_information">
                    <button class="buttonAside">Thêm người dùng</button>
                </a>
            </div>
        </div>
    </div>

    <div class="article">
        {{#each users}}
            <div class="info">
                <div>{{this.lastname}}</div>
                <div>{{this.firstname}}</div>
                <div>{{this.birthday}}</div>
                <div>{{this.school}}</div>
                <div>{{this.email}}</div>
                <div>{{this.phone}}</div>
                <div>{{this.gender}}</div>
                <div>{{this.hobbies}}</div>
                <div>{{this.description}}</div>
                <div>
                    <a href="update_user.id={{this._id}}">
                    <button>Sửa thông tin</button>
                    </a>
                </div>

                <div>
                    <a href="delete_user.id={{this._id}}">
                    <button>Xóa thông tin</button>
                    </a>
                </div>
            </div>
        {{/each}}
    </div>
</div>
</body>
</html>

<style>
    body {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .container {
        max-width: 100%;
        margin: auto;
    }

    /*Aside*/
    .aside {
        width: 30%;
        height: 700px;
        border: 1px solid #a7a7a7;
        float: left;
    }

    .headerAside {
        height: 15%;
        background: linear-gradient(to right, #ff0066, #ff6666);
    }

    .imgAvatar {
        border-radius: 50px;
        margin-top: 7%;
        margin-left: 5%;
        text-decoration: none;
    }

    .textInfo {
        font-size: 25px;
        font-weight: bold;
        font-family: Arial;
        color: white;
        margin-left: 2%;
        position: relative;
        top: -7px;
        text-decoration: none;
    }

    /*Article*/
    .article {
        width: 69.8%;
        height: 700px;
        float: right;
    }

    /*People*/
    .people {
        width: 500px;
        height: 600px;
        background-color: #e9e9e9;
        margin-top: 50px;
        margin-left: 23%;
        border-radius: 10px;
    }

    .imgGirl {
        margin-top: 20px;
        margin-left: 13%;
        border-radius: 10px;
    }

    .text {
        margin-top: 10px;
        margin-left: 65px;
    }

    .textGirl {
        font-size: 25px;
        font-weight: bold;
        font-family: Arial;
    }

    .textContent {
        font-size: 20px;
        font-family: Arial;
    }

    .info {
        margin-left: 20px;
        margin-bottom: 20px;
        font-family: Arial;
        font-weight: bold;
    }

    /*Button*/
    .buttonAside {
        width: 100%;
        height: 40px;
        border: none;
        background-color: #dbdbdb;
        margin-bottom: 20px;
        font-weight: bold;
        margin-top: 20px;
    }

    .buttonAside:hover {
        background: linear-gradient(to right, #ff0066, #ff6666);
        cursor: pointer;
    }
</style>