<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="aside">
        <div class="headerAside">
            <a href="my_information" class="textInfo">< Sửa thông tin người dùng</a>
        </div>

        <div class="bodyAside">
            <div class="notify" style="margin-top: 30px">
                <span class="textInforBody">Người sử dụng</span>
                <div class="inforDetail">
                    <div>
                        <a href="home_page">
                            <button class="button">Danh sách người dùng</button>
                        </a>
                    </div>

                    <div>
                        <a>
                            <button class="button">Sửa thông tin người dùng</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="language" style="margin-top: 40px">
                <span class="textInforBody">Ngôn ngữ</span>
                <div class="inforDetail">
                    <div>
                        <a>
                            <button class="button">Ngôn ngữ</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="support" style="margin-top: 40px">
                <span class="textInforBody">Trợ giúp và hỗ trợ</span>
                <div class="inforDetail">
                    <div>
                        <a>
                            <button class="button">Trợ giúp và hỗ trợ</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="safe" style="margin-top: 40px">
                <span class="textInforBody">An toàn</span>
                <div class="inforDetail">
                    <div>
                        <a>
                            <button class="button">Quy tắc cộng đồng</button>
                        </a>
                    </div>

                    <div>
                        <a>
                            <button class="button">An toàn và chính sách</button>
                        </a>
                    </div>

                    <div>
                        <a>
                            <button class="button">Bí quyết an toàn</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="legal" style="margin-top: 40px">
                <span class="textInforBody">Pháp lý</span>
                <div class="inforDetail">
                    <div>
                        <a>
                            <button class="button">Cài đặt quyền riêng tư</button>
                        </a>
                    </div>

                    <div>
                        <a>
                            <button class="button">Chính sách Cookie</button>
                        </a>
                    </div>

                    <div>
                        <a>
                            <button class="button">Chính sách riêng tư</button>
                        </a>
                    </div>

                    <div>
                        <a>
                            <button class="button">Điều khoản dịch vụ</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="bottomAside" style="margin-top: 60px">
                <div>
                    <a href="/">
                        <button class="buttonBottom">Đăng xuất</button>
                    </a>
                </div>

                <div>
                    <a>
                        <button class="buttonBottom">Chia sẻ Tinder</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="article">
        {{#user}}
            <div class="changeInfoForm">
                <div class="photo">
                    <div class="changeAvatar">
                        <input type="file" name="avatarFix" multiple/>
                    </div>
                    <!--                <section class="btnPosition">-->
                    <!--                    <button class="btnChangeImage">Đổi ảnh đại diện</button>-->
                    <!--                </section>-->
                </div>

                <form action="update_user.id={{this._id}}" enctype="multipart/form-data" method="post" name="fix_user">
                    <div class="inputForm">
                        <section class="input">
                            <span class="textInput">Họ</span>
                            <input type="text" class="inputInfo" placeholder="last name" style="margin-left: 92.5px"
                                   name="lastname" value="{{this.lastname}}">
                        </section>

                        <section class="input">
                            <span class="textInput">Tên</span>
                            <input type="text" class="inputInfo" placeholder="first name" style="margin-left: 85px"
                                   name="firstname" value="{{this.firstname}}">
                        </section>

                        <section class="input">
                            <span class="textInput">Ngày sinh</span>
                            <input type="text" class="inputInfo" placeholder="date birth" style="margin-left: 37px"
                                   name="birthday" value="{{this.birthday}}">
                        </section>

                        <section class="input">
                            <span class="textInput">Trường học</span>
                            <input type="text" class="inputInfo" placeholder="school" style="margin-left: 23px"
                                   name="school" value="{{this.school}}">
                        </section>

                        <section class="input">
                            <span class="textInput">Email</span>
                            <input type="text" class="inputInfo" placeholder="email" style="margin-left: 71px" name="email" value="{{this.email}}">
                        </section>

                        <section class="input">
                            <span class="textInput">Số điện thoại</span>
                            <input type="text" class="inputInfo" placeholder="phone number" style="margin-left: 14px"
                                   name="phone" value="{{this.phone}}">
                        </section>

                        <section class="input">
                            <span class="textInput">Giới tính</span>

                            <input type="radio" id="male" name="gender" value="male" style="margin-left: 14px" {{checked gender 'male'}}>
                            <label for="male" style="font-family: Arial">Nam</label>
                            <input type="radio" id="female" name="gender" value="female"  {{checked gender 'female'}}>
                            <label for="female" style="font-family: Arial">Nữ</label>
                        </section>

                        <section class="input">
                            <span class="textInput">Sở thích</span>
                            <input type="text" class="inputInfo" placeholder="hobbies" style="margin-left: 50px"
                                   name="hobbies" value="{{this.hobbies}}">
                        </section>

                        <section class="input">
                            <span class="textInput">Giới thiệu</span>
                            <textarea rows="4" cols="40" class="textArea" placeholder="description"
                                      name="description" value="{{this.description}}"></textarea>
                        </section>

                        <div style="text-align: center">
                            <button class="btnSave" type="submit">
                                Sửa thông tin
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        {{/user}}
    </div>
</div>
</body>
</html>

<style>
    body {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .container {
        max-width: 100%;
        margin: auto;
    }

    /*Aside*/
    .aside {
        width: 30%;
        height: 1110px;
        border: 1px solid #dbdbdb;
        float: left;
    }

    .headerAside {
        height: 9.5%;
        background: linear-gradient(to right, #ff0066, #ff6666);
    }

    .textInfo {
        font-size: 25px;
        font-weight: bold;
        font-family: Arial;
        color: white;
        margin-left: 5%;
        position: relative;
        top: 35px;
        text-decoration: none;
    }

    /*Notify*/
    .textInforBody {
        font-size: 20px;
        font-weight: bold;
        font-family: Arial;
        margin-left: 10px;
    }

    .inforDetail {
        margin-top: 5px;
    }

    .button {
        height: 40px;
        width: 428px;
        border: none;
        background-color: #dbdbdb;
        font-weight: bold;
    }

    .button:hover {
        background: linear-gradient(to right, #ff0066, #ff6666);
        cursor: pointer;
    }

    .buttonBottom {
        height: 40px;
        width: 428px;
        border: none;
        background-color: #dbdbdb;
        margin-bottom: 20px;
        font-weight: bold;
    }

    .buttonBottom:hover {
        background: linear-gradient(to right, #ff0066, #ff6666);
        cursor: pointer;
    }

    /*Article*/
    .article {
        width: 69.8%;
        height: auto;
        float: right;
    }

    /*ChangeInfo*/
    .changeInfoForm {
        width: 500px;
        height: auto;
        margin-top: 40px;
        margin-left: 25%;
        box-shadow: 5px 5px 5px 5px #9b9b9b;
        border-radius: 5px;
    }

    .photo {
        width: 500px;
        height: 200px;
        border-bottom: 1px solid #bcbcbc;
    }

    .changeAvatar {
        margin-left: 25%;
    }

    .imgInfo {
        margin-left: 30%;
        margin-top: 10px;
        border-radius: 10px;
    }

    .btnPosition {
        margin-left: 30%;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .btnChangeImage {
        width: 200px;
        height: 50px;
        border-radius: 20px;
        border: none;
        background-color: #e2c320;
        font-weight: bold;
        font-family: Arial;
        font-size: 15px;
    }

    .btnChangeImage:hover {
        background: linear-gradient(to right, #ff0066, #ff6666);
        cursor: pointer;
    }

    /*Input*/
    .input {
        margin-top: 15px;
        clear: both;
    }

    .textInput {
        font-family: Arial;
        font-weight: bold;
        color: #585858;
        margin-left: 15px;
        margin-right: 10px;
    }

    .inputInfo {
        width: 300px;
        height: 30px;
        border-radius: 5px;
        border: 1px solid gray;
    }

    .textArea {
        border-radius: 5px;
        border: 1px solid gray;
        margin-left: 40px;
    }

    .btnSave {
        width: 350px;
        height: 50px;
        text-align: center;
        font-family: Arial;
        font-weight: bold;
        font-size: 15px;
        border-radius: 20px;
        border: none;
        color: white;
        background: linear-gradient(to right, #ff0066, #ff6666);
        margin: 30px;
    }

    .btnSave:hover {
        background: linear-gradient(to right, #ff6666, #ff0066);
        cursor: pointer;
    }
</style>